@model IEnumerable<Indutry4._0.Models.FeedbackPost>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!--1. Background and Title-->
<section id="contacPage_backround">
    <!--1st background image-->
    <header id="header2"> Contact and About</header><!--large header-->
    <p id="intro">
        Industry 4.0 is the digital transformation of manufacturing/production and related industries and value creation processes.
        Industry 4.0 is used interchangeably with the fourth industrial revolution and represents a new stage in the organization and control of the industrial value chain.
        (https://www.i-scoop.eu/industry-4-0/)
    </p>
</section>

<section class="row" id="contact">

    <!--6 images for 6 companies and organisations here-->
    <!--use javascript or jquery to add them-->
    <!--good for extension if there are more companies and organisations-->

</section>