@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<div id="homepage">
    <div @*class="container-fluid"*@>
        <!-- for full width layout-->
        <article>
            <!--1. for search provider e.g. Google and Bing-->

            <section id="homepage_background1">
                <!--1st background image-->
                <header id="title"> Industry 4.0</header><!--large header-->
                <p id="intro">
                    Industry 4.0 is a name given to the current trend
                    of automation and data exchange in manufacturing technologies.
                    It includes cyber-physical systems, the Internet of things,
                    cloud computing and cognitive computing. Industry 4.0 is
                    commonly referred to as the fourth industrial revolution.
                    <br>-Wikipedia-
                </p>
            </section>

            <!--2.Images-->
            <div class="padding" class="container-fluid">
                <section class="row" id="tech">

                    <!--6 images for 6 companies and organisations here-->
                    <!--use javascript or jquery to add them-->
                    <!--good for extension if there are more companies and organisations-->

                </section>
            </div>

            <section id="homepage_background2">
                <!--2nd background image-->
                <p id="center-paragraph"></p>
            </section>

        </article>
        
        <article>
            <!--for search providers e.g. Google and bing-->
        </article>
    </div>
</div>

