<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Indutry 4.0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/elastic-grid.min.css" type="text/css" /> <!--Css file for elastic grid-->
    <link rel="stylesheet" type="text/css" href="~/css/pages.css" />    <!--link for homepage-->
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet" type="text/css">    <!--link for homepage-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><!--Anton Font From Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><!--Anton Font From Google -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"><!--Anton Font From Google -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--For footer icons-->

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Indutry 4.0</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="companiesOrganizations">Companies &amp; Organizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="EmergingTechnologies">Emerging &amp; Technologies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ContactAbout">Contact &amp; About</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                        @if (User.IsInRole("Manager"))

                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="FeedbackPosts" asp-action="Index">FeedbackPosts</a>
                            </li>
                        }


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">*@
    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2021 - Indutry 4.0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            <!-- Footer Links -->
            <!-- Links -->
            <div class="row" style="margin-right:0px">
                <div class="col-md-6 col-12 col-sm-12">

                    <ul class="list-unstyled">
                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="companiesOrganizations">Companies & Organizations</a>
                        </li>

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="EmergingTechnologies">Emerging Technologies</a>
                        </li>

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="ContactAbout">Copyright</a>
                        </li>

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="companiesOrganizations">Feedback</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-6 col-12 col-sm-12">
                    <ul class="list-unstyled">

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="ContactAbout">About US</a>
                        </li>

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="ContactAbout">Contact Us</a>
                        </li>

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="ContactAbout">Privacy</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="ContactAbout">Jobs</a>
                        </li>

                        <li >
                            <a asp-area="" asp-controller="Home" asp-action="ContactAbout">Follows Us</a>
                        </li>

                        <li>
                            <a href="www.google.com" class="fa fa-google"></a>
                            <a href="www.youtube.com" class="fa fa-youtube"></a>
                            <a href="www.twitter.com" class="fa fa-twitter"></a>
                            <a href="www.facebook.com" class="fa fa-facebook-f"></a>
                            <a href="www.linkedin" class="fa fa-linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>


</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script> <!--Add for assignment 1-->
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script> <!--Add for assignment 1-->
    <script src="~/js/modernizr.custom.js"></script> <!--Add for assignment 1-->
    <script src="~/js/classie.js"></script> <!--Add for assignment 1-->
    <script src="~/js/elastic_grid.min.js"></script> <!--Add for assignment 1-->

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jsScript.js"></script><!--homepage script-->
    <script src="~/js/jsScript2.js"></script><!--companies and organizations script-->
    <script src="~/js/jsScript3.js"></script><!--contact and about pages script-->


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
